  <h1>Sign Up</h1>
  <%= form_with model: @user, url: user_sign_up_path do |f| %>
    <p>
    <%= f.label 'First Name' %><br>
    <%= f.text_field :first_name %>
    </p>
    <p>
    <%= f.label 'Last Name' %><br>
    <%= f.text_field :last_name %>
    </p>
    <p>
    <%= f.label 'email' %><br>
    <%= f.text_field :email %>
    </p>
    <p>
    <%= f.label 'password' %><br>
    <%= f.password_field :password %>
    </p>
    <p>
    <%= f.label 'password_confirmation' %><br>
    <%= f.password_field :password_confirmation %>
    </p>
    <p>
    <%= f.submit 'Sign Up' %>
    </p>
  <% end %>
